#header{
 background-color: #000080;
 color: white;
 border-color: #000080;
 font-weight:bold;
}
#header a{
 color: #fff;
}
#header a:hover{
 background-color: #414cf4;
}
 
#footerx{
 width: 100%;
 background-color: #000080;
 height: 40px;
 color: white;
 font-weight:bold;
 padding: 10px;
 text-align: center;
}
#home-title{
 width:90%;
 margin-left: auto;
 margin-right: auto;
}

#sign{
color:#000080;	
font-weight:bold;
}

.form-control
{

width:25%;
}
